<!-- Tarjeta de Bienvenida -->
<app-menu></app-menu>

<div class="card welcome-card animate-slide-up">
  <h1><i class="fas fa-hospital"></i> Bienvenido a el Seguro Social Vida Sana</h1>
  <p>Comienza escogiendo una ficha en el apartado de especialidad.</p>
</div>

<!-- Nueva fila para las tarjetas adicionales -->
<div class="card-row">
  <!-- Tarjeta de Triajes, Antecedentes y Diagnósticos -->
  <div class="card card-info animate-slide-up">
    <h2><i class="fas fa-notes-medical"></i> Consulta tu Historial Clínico</h2>
    <p>Puedes ver tus triajes, antecedentes y diagnósticos en cualquier momento desde nuestra aplicación móvil y también en tu navegador. Solo entra al apartado de Historial Clínico para verlo.</p>
  </div>

  <!-- Tarjeta de Solicitud de Cita -->
  <div class="card card-appointment animate-slide-up">
    <h2><i class="fas fa-user-md"></i> Solicita una Cita Médica</h2>
    <p>Solicita una cita con tu médico de confianza. Solo entra al apartado de especialidades para continuar.</p>
  </div>
</div>
